@media (max-width: 768px) {
	#header {
		text-align: center;
	}
  
}
body {
	font-family: 'Architects Daughter', cursive;

}
.topStrip {
	background-color: #bb002f;
	height: 25px;
}
#mainHeader {
	background-color: #f50057;
	height: 100px;
}
#introBody {
	background-color: #f5f5f5;
}
#header {
	background-color: #e0e0e0;
	height: 150px;
	color: #3f51b5;
	font-size: 40px;
	text-align: center;
}
#titleArea {
	background-color: #5ddef4;
	
}
#clickStart {
	background-color: #3f51b5;
	width: 300px;
	color: #e0e0e0;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 40px;
}
#startArea {

	height: 200px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-image: url("words1.jpg");

}
#scatDice {
	height: 50px;
	width: 50px;
	margin-right: 25px;
	float: right;
}