
  
body {
	font-family: 'Architects Daughter', cursive;

}
label {
	
}

.checkPlayedWord {
	margin-right: 5px;
	float: right;
}
.playedWord {
	width: auto;
	margin: 5px;
}

.switch {
	margin-right: 10px;

}
.slider {
	margin-right: 5px;
}
.player1reject {
	margin-right: 10px;
}
.playedWord {
	font-size: 12px;
}
.wordPlayed {
	float: left;
}
.computerPlayedWord {
	float: left;
}
.categoryClass {
	margin: 5px;
}

#header {
	text-align: center;
}
.resultsArea {
	font-family: 'Lato', sans-serif;
}
.acceptReject {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.topStrip {
	background-color: #0093c4;
	height: 25px;
}
#mainHeader {
	background-color: #4fc3f7;
	height: 100px;
}
.resultsArea {
	padding: 5px;
	margin: 5px;
	color: #3f51b5;
	background-color: #e0e0e0;
	text-align: center;
}
#player1Results, #player1accept, #player1reject {
	padding: 5px;
	margin: 5px;
}
.playedWord {
	text-align: center;
	padding: 5px;
	margin: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
#gameLetter {
	text-align: center;
	font-size: 28px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modalContent {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
	border-radius: 15px;
}

.close {
	color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.categories {

	width: 200px;
}
.playedWord {
	margin: 10px;
}
.submit {
	
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#submitScores {
	padding: 10px;
	border-radius: 10px;
}
#playAgain {
	padding: 10px;
	border-radius: 10px;
}
@media (min-width: 768px) {
	
	.playedWord {
		font-size: 24px;
	}
	.checkPlayedWord {
		font-size: 24px;
	}
	.resultsArea {
		font-size: 24px;
	}
	#submitScores {
		font-size: 24px;
	}
	#playAgain {
		font-size: 24px;
	}
	#gameLetter {
		font-size: 40px;
	}
	
}
