@media (max-width: 768px) {
	#header {
		text-align: center;
	}
  
}
body {
	font-family: 'Architects Daughter', cursive;

}
.topStrip {
	background-color: #0093c4;
	height: 25px;
}
#mainHeader {
	background-color: #4fc3f7;
	height: 100px;
}
#header {
	background-color: #e0e0e0;
	height: 150px;
	color: #484848;
	font-size: 40px;
	text-align: center;
}
#inviteButton {

}
#mainHeader {
	text-align: center;
}
.gameLetter {
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}
label, input {
	padding: 5px;
	margin: 10px;
}
form {
	text-align: center;
}
#timer, #gameLetter {
	text-align: center;
	font-size: 28px;
}
.gameButtons {
	text-align: center;
	font-size: 24px;
	margin: 5px;
}
#submitGame {
	font-size: 28px;
}
.submit {
	text-align: center;
	margin-top: 15px;
}