
body {
	font-family: 'Architects Daughter', cursive;

}
.topStrip {
	background-color: #bb002f;
	height: 25px;
}
#mainHeader {
	background-color: #f50057;
	height: 100px;
}
#header {
	background-color: #e0e0e0;
	height: 150px;
	color: #3f51b5;
	font-size: 40px;
	text-align: center;
}
#inviteButton {

}
#mainHeader {
	text-align: center;
}
label, input {
	padding: 5px;
	margin: 10px;
}
form {
	text-align: center;
}
#timer, #gameLetter {
	text-align: center;
	font-size: 28px;
}
.stopwatchButtons {
	text-align: center;
	font-size: 24px;
	margin: 5px;
}
#submitGame {
	font-size: 28px;
}
.submit {
	text-align: center;
	margin-top: 15px;
}